@model ReptileForum.Models.Discussion

@{
    ViewData["Title"] = "Delete Discussion";
}

<div class="container mt-4">
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Confirm Delete</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger">Are you sure you want to delete this discussion?</h5>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-sm-3 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Content)
                        </dd>

                        <dt class="col-sm-3 font-weight-bold">
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 text-center">
                    @if (!string.IsNullOrEmpty(Model.ImageFilename))
                    {
                        <img src="~/Images/@Model.ImageFilename" class="img-fluid rounded-start" style="max-width: 200px; height: 100px;" />
                    }
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="DiscussionId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Back to My Discussions</a>
            </form>
        </div>
    </div>
</div>
